# strikeiron_address_verification

**Tag**: library

## 简介

Strike Iron Address Verification

## 官网

- 主页: http://github.com/jturner954/strikeiron_address_verification
- RubyGems: https://rubygems.org/gems/strikeiron_address_verification

## 历史版本号

- 0.1.9 (2012-09-13)
- 0.1.8 (2012-07-11)
- 0.1.7 (2012-07-10)
- 0.1.6 (2012-07-10)
- 0.1.5 (2012-07-02)
- 0.1.4 (2012-07-02)
- 0.1.3 (2012-06-29)
- 0.1.2 (2012-06-29)
- 0.1.1 (2012-06-28)
- 0.1.0 (2012-06-28)

## 获取地址

- RubyGems: https://rubygems.org/gems/strikeiron_address_verification
- gem 安装: `gem install strikeiron_address_verification`
- Bundler: `gem "strikeiron_address_verification"`
- 最新版本: 0.1.9
- 最新版归档: https://rubygems.org/downloads/strikeiron_address_verification-0.1.9.gem
- 版本锁定: `gem "strikeiron_address_verification", "~> 0.1.9"`
- 中央仓库: https://rubygems.org/
