# furs_fiscal_verification

**Tag**: library

## 简介

Fiscal verification of invoices (davčno potrjevanje računov)

## 官网

- 主页: http://codeandtechno.com
- 文档: https://www.rubydoc.info/gems/furs_fiscal_verification/0.1.0
- RubyGems: https://rubygems.org/gems/furs_fiscal_verification

## 历史版本号

- 0.1.0 (2016-07-27)

## 获取地址

- RubyGems: https://rubygems.org/gems/furs_fiscal_verification
- gem 安装: `gem install furs_fiscal_verification`
- Bundler: `gem "furs_fiscal_verification"`
- 最新版本: 0.1.0
- 最新版归档: https://rubygems.org/downloads/furs_fiscal_verification-0.1.0.gem
- 版本锁定: `gem "furs_fiscal_verification", "~> 0.1.0"`
- 中央仓库: https://rubygems.org/
