# redis-email_signup_verification

**Tag**: database

## 简介

Email SignUp Verification By Redis

## 官网

- 主页: https://github.com/onigra/redis-email_signup_verification
- 文档: https://www.rubydoc.info/gems/redis-email_signup_verification/0.0.1
- RubyGems: https://rubygems.org/gems/redis-email_signup_verification

## 历史版本号

- 0.0.1 (2014-10-09)

## 获取地址

- RubyGems: https://rubygems.org/gems/redis-email_signup_verification
- gem 安装: `gem install redis-email_signup_verification`
- Bundler: `gem "redis-email_signup_verification"`
- 最新版本: 0.0.1
- 最新版归档: https://rubygems.org/downloads/redis-email_signup_verification-0.0.1.gem
- 版本锁定: `gem "redis-email_signup_verification", "~> 0.0.1"`
- 中央仓库: https://rubygems.org/
