# circleci-test_report

**Tag**: testing, data

## 简介

Create Test metadata for CircleCI

## 官网

- 主页: https://github.com/bluerabbit/circleci-test_report
- 文档: https://www.rubydoc.info/gems/circleci-test_report/0.1.2
- RubyGems: https://rubygems.org/gems/circleci-test_report

## 历史版本号

- 0.1.2 (2022-06-09)
- 0.1.1 (2018-02-22)
- 0.1.0 (2018-02-20)

## 获取地址

- RubyGems: https://rubygems.org/gems/circleci-test_report
- gem 安装: `gem install circleci-test_report`
- Bundler: `gem "circleci-test_report"`
- 最新版本: 0.1.2
- 最新版归档: https://rubygems.org/downloads/circleci-test_report-0.1.2.gem
- 版本锁定: `gem "circleci-test_report", "~> 0.1.2"`
- 中央仓库: https://rubygems.org/
