# fastlane-plugin-test_report

**Tag**: testing, template

## 简介

customized template for iOS test reports

## 官网

- 主页: https://github.com/TECLIB/fastlane-plugin-test_report
- 文档: https://www.rubydoc.info/gems/fastlane-plugin-test_report/0.1.0
- RubyGems: https://rubygems.org/gems/fastlane-plugin-test_report

## 历史版本号

- 0.1.0 (2018-11-20)

## 获取地址

- RubyGems: https://rubygems.org/gems/fastlane-plugin-test_report
- gem 安装: `gem install fastlane-plugin-test_report`
- Bundler: `gem "fastlane-plugin-test_report"`
- 最新版本: 0.1.0
- 最新版归档: https://rubygems.org/downloads/fastlane-plugin-test_report-0.1.0.gem
- 版本锁定: `gem "fastlane-plugin-test_report", "~> 0.1.0"`
- 中央仓库: https://rubygems.org/
