# rack-slack_request_verification

**Tag**: web

## 简介

Rack middleware to verify Slack requests made using signed secrets.

## 官网

- 主页: https://github.com/Aupajo/rack-slack_request_verification
- 文档: https://www.rubydoc.info/gems/rack-slack_request_verification/0.1.0
- RubyGems: https://rubygems.org/gems/rack-slack_request_verification

## 历史版本号

- 1.0.0.pre2 (2019-04-27)
- 1.0.0.pre (2019-04-27)
- 0.1.0 (2019-04-27)

## 获取地址

- RubyGems: https://rubygems.org/gems/rack-slack_request_verification
- gem 安装: `gem install rack-slack_request_verification`
- Bundler: `gem "rack-slack_request_verification"`
- 最新版本: 0.1.0
- 最新版归档: https://rubygems.org/downloads/rack-slack_request_verification-0.1.0.gem
- 版本锁定: `gem "rack-slack_request_verification", "~> 0.1.0"`
- 中央仓库: https://rubygems.org/
