# verification

**Tag**: web

## 简介

Verify preconditions for Rails actions

## 官网

- 主页: https://rubygems.org/gems/verification

## 历史版本号

- 1.0.1 (2010-11-16)

## 获取地址

- RubyGems: https://rubygems.org/gems/verification
- gem 安装: `gem install verification`
- Bundler: `gem "verification"`
- 最新版本: 1.0.1
- 最新版归档: https://rubygems.org/downloads/verification-1.0.1.gem
- 版本锁定: `gem "verification", "~> 1.0.1"`
- 中央仓库: https://rubygems.org/
