# parallel_tests_report

**Tag**: testing

## 简介

Works with parallel_tests ruby gem to generate a report having a list of slowest and failed examples.

## 官网

- 主页: https://github.com/amagimedia/parallel-tests-report
- 文档: https://www.rubydoc.info/gems/parallel_tests_report/0.1.0
- RubyGems: https://rubygems.org/gems/parallel_tests_report

## 历史版本号

- 0.1.0 (2020-08-25)

## 获取地址

- RubyGems: https://rubygems.org/gems/parallel_tests_report
- gem 安装: `gem install parallel_tests_report`
- Bundler: `gem "parallel_tests_report"`
- 最新版本: 0.1.0
- 最新版归档: https://rubygems.org/downloads/parallel_tests_report-0.1.0.gem
- 版本锁定: `gem "parallel_tests_report", "~> 0.1.0"`
- 中央仓库: https://rubygems.org/
