# giact_verification

**Tag**: web

## 简介

A wrapper for GIACT's Verification Services that cleans up their SOAP API

## 官网

- 主页: https://github.com/georgewambold/giact_verification
- 文档: https://www.rubydoc.info/gems/giact_verification/0.1.0
- RubyGems: https://rubygems.org/gems/giact_verification

## 历史版本号

- 0.1.0 (2018-05-03)

## 获取地址

- RubyGems: https://rubygems.org/gems/giact_verification
- gem 安装: `gem install giact_verification`
- Bundler: `gem "giact_verification"`
- 最新版本: 0.1.0
- 最新版归档: https://rubygems.org/downloads/giact_verification-0.1.0.gem
- 版本锁定: `gem "giact_verification", "~> 0.1.0"`
- 中央仓库: https://rubygems.org/
