# twilio_phone_verification

**Tag**: library

## 简介

twilio_phone_verification is a gem for RoR which you can use to verify users' phone numbers

## 官网

- 主页: https://github.com/kaikash/twilio_phone_verification
- 文档: https://www.rubydoc.info/gems/twilio_phone_verification/1.0.7
- RubyGems: https://rubygems.org/gems/twilio_phone_verification

## 历史版本号

- 1.0.7 (2016-11-05)
- 1.0.6 (2016-11-03)
- 1.0.5 (2016-11-03)
- 1.0.4 (2016-11-03)
- 1.0.3 (2016-11-03)
- 1.0.1 (2016-08-14)
- 1.0.0 (2016-08-12)
- 0.1.18 (2016-08-12)
- 0.1.17 (2016-08-12)
- 0.1.16 (2016-08-12)
- 0.1.15 (2016-08-12)
- 0.1.14 (2016-08-12)
- 0.1.13 (2016-08-12)
- 0.1.12 (2016-08-12)
- 0.1.11 (2016-08-12)
- 0.1.10 (2016-08-12)
- 0.1.9 (2016-08-12)
- 0.1.8 (2016-08-12)
- 0.1.7 (2016-08-12)
- 0.1.5 (2016-08-12)
- 0.1.4 (2016-08-12)
- 0.1.3 (2016-08-12)
- 0.1.2 (2016-08-12)
- 0.1.0 (2016-08-12)

## 获取地址

- RubyGems: https://rubygems.org/gems/twilio_phone_verification
- gem 安装: `gem install twilio_phone_verification`
- Bundler: `gem "twilio_phone_verification"`
- 最新版本: 1.0.7
- 最新版归档: https://rubygems.org/downloads/twilio_phone_verification-1.0.7.gem
- 版本锁定: `gem "twilio_phone_verification", "~> 1.0.7"`
- 中央仓库: https://rubygems.org/
