# webmention-verification

**Tag**: web

## 简介

Deprecated in favor of webmention from 2022-05-13. Verify a received webmention.

## 官网

- 主页: https://github.com/jgarber623/webmention-verification-ruby
- 更新日志: https://github.com/jgarber623/webmention-verification-ruby/blob/v6.0.2/CHANGELOG.md
- 问题追踪: https://github.com/jgarber623/webmention-verification-ruby/issues
- RubyGems: https://rubygems.org/gems/webmention-verification

## 历史版本号

- 6.0.2 (2022-05-14)
- 6.0.1 (2022-05-14)
- 6.0.0 (2022-05-03)
- 5.0.0 (2021-06-09)
- 4.0.0 (2020-08-24)
- 3.0.0 (2020-05-14)
- 2.0.0 (2020-01-25)
- 1.2.0 (2020-01-20)
- 1.1.1 (2019-08-31)
- 1.1.0 (2019-05-02)
- 1.0.0 (2019-04-26)
- 0.1.2 (2019-01-03)
- 0.1.1 (2018-11-11)
- 0.1.0 (2018-07-11)

## 获取地址

- RubyGems: https://rubygems.org/gems/webmention-verification
- gem 安装: `gem install webmention-verification`
- Bundler: `gem "webmention-verification"`
- 最新版本: 6.0.2
- 最新版归档: https://rubygems.org/downloads/webmention-verification-6.0.2.gem
- 版本锁定: `gem "webmention-verification", "~> 6.0.2"`
- 中央仓库: https://rubygems.org/
