# indieauth-token-verification

**Tag**: security

## 简介

Perform the access token verification portion of the IndieAuth process by communicationg with a token endpoint.

## 官网

- 主页: https://code.deeden.co.uk/indieauth-token-verification
- 更新日志: https://code.deeden.co.uk/indieauth-token-verification/changelog
- 问题追踪: https://code.deeden.co.uk/indieauth-token-verification/issues
- RubyGems: https://rubygems.org/gems/indieauth-token-verification

## 历史版本号

- 0.2.1 (2020-08-03)
- 0.2.0 (2019-02-15)

## 获取地址

- RubyGems: https://rubygems.org/gems/indieauth-token-verification
- gem 安装: `gem install indieauth-token-verification`
- Bundler: `gem "indieauth-token-verification"`
- 最新版本: 0.2.1
- 最新版归档: https://rubygems.org/downloads/indieauth-token-verification-0.2.1.gem
- 版本锁定: `gem "indieauth-token-verification", "~> 0.2.1"`
- 中央仓库: https://rubygems.org/
