# spree_id_verification

**Tag**: library

## 简介

Add (optional) extension description here

## 官网

- 文档: https://www.rubydoc.info/gems/spree_id_verification/0.0.1.alpha
- RubyGems: https://rubygems.org/gems/spree_id_verification

## 历史版本号

- 0.0.1.alpha (2020-10-01)

## 获取地址

- RubyGems: https://rubygems.org/gems/spree_id_verification
- gem 安装: `gem install spree_id_verification`
- Bundler: `gem "spree_id_verification"`
- 最新版本: 0.0.1.alpha
- 最新版归档: https://rubygems.org/downloads/spree_id_verification-0.0.1.alpha.gem
- 版本锁定: `gem "spree_id_verification", "~> 0.0.1.alpha"`
- 中央仓库: https://rubygems.org/
