# email-verification

**Tag**: library

## 简介

Verify email addresses using Gmail, Hotmail etc.

## 官网

- 主页: https://github.com/SebastianJ/email-verification
- 更新日志: https://github.com/SebastianJ/email-verification/CHANGELOG.md
- RubyGems: https://rubygems.org/gems/email-verification

## 历史版本号

- 0.2.3 (2019-10-27)
- 0.2.2 (2019-10-27)
- 0.2.1 (2019-10-21)
- 0.2.0 (2019-07-13)
- 0.1.9 (2019-07-11)
- 0.1.8 (2019-07-04)
- 0.1.7 (2019-07-04)
- 0.1.6 (2019-07-04)
- 0.1.5 (2019-07-04)
- 0.1.4 (2019-07-02)
- 0.1.3 (2019-07-02)
- 0.1.2 (2019-07-01)
- 0.1.1 (2019-07-01)
- 0.1.0 (2019-07-01)

## 获取地址

- RubyGems: https://rubygems.org/gems/email-verification
- gem 安装: `gem install email-verification`
- Bundler: `gem "email-verification"`
- 最新版本: 0.2.3
- 最新版归档: https://rubygems.org/downloads/email-verification-0.2.3.gem
- 版本锁定: `gem "email-verification", "~> 0.2.3"`
- 中央仓库: https://rubygems.org/
