# test_run

**Tag**: testing

## 简介

no really

## 官网

- 文档: https://www.rubydoc.info/gems/test_run/0.0.3
- RubyGems: https://rubygems.org/gems/test_run

## 历史版本号

- 0.0.3 (2015-04-27)
- 0.0.2 (2015-03-30)
- 0.0.1 (2015-03-27)

## 获取地址

- RubyGems: https://rubygems.org/gems/test_run
- gem 安装: `gem install test_run`
- Bundler: `gem "test_run"`
- 最新版本: 0.0.3
- 最新版归档: https://rubygems.org/downloads/test_run-0.0.3.gem
- 版本锁定: `gem "test_run", "~> 0.0.3"`
- 中央仓库: https://rubygems.org/
